@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
