/* FilterComponent.css */
button.active {
  background-color: lightblue;
  color: white;
}

/* Define styles for image and sentence */
.image {
  max-width: 100%;
  height: auto;
}

.sentence {
  font-size: 18px;
  margin-top: 10px;
}

/* .app__filtercomponent {
  display: flex;
  flex-direction: column;
}

.app__filtercomponent-items {
  display: flex;
  flex-direction: column;
} */

/* ============================================================ */
/* .app__experience {
  height: 100vh;
}

.app__experience_content {
  display: flex;
  flex-direction: row;
  
}

.app__experience_content-item1 {
  width: 0.1rem;
  background: var(--color-light-bg);
}

.app__experience_content-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.app__experience_content-item2 li {
  list-style: none;
  width: 10rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-lightgreen);
  font-size: 9px;

  display: flex;
  flex-direction: column;
}

.app__experience_content-item2 li:hover {
  background: var(--color-light-bg);
  border-left: 3px solid var(--color-aqua);
}

.app__experience_content-item2 li img {
  
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

 */
