.navbar {
  justify-content: space-between;
  padding: 35px;
  background-color: #fff;
}

.navbar_heading {
  margin-right: 20px;
  font-size: 20px;
}

.navbar_form {
  width: 45px;
  height: 40px;
  border: 1px sold #cdcdcd;
  border-radius: 5px;
  /* padding: 3px; */
}

.navbar_search {
  flex: 1;
  height: 100%;
  padding: 0 7px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
}

.search_button {
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #6457f9;
  cursor: pointers;
}

.navbar_links {
  font-size: 16px;
}

.navbar_links > a {
  margin: 15px;
}

.navbar_links > a.active {
  font-weight: 600;
}

.cart_counts {
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #6457f9;
  color: #fff;
  font-size: 15px;
  margin-left: 5pxs;
}
