.quantity_input_button:disabled {
  opacity: 0.3;
  cursor: default;
}
.quantity_input_count {
  margin: 0 39px;
  text-align: center;
}
.add_cart {
  height: 40px;
  width: fit-content;
  padding: 8px 18px;
  margin-left: 10px;
}
